@font-face {
  font-family: 'iA Writer Quattro S';
  src: url('./iAWriterQuattroS-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iA Writer Quattro S';
  src: url('./iAWriterQuattroS-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'iA Writer Quattro S';
  src: url('./iAWriterQuattroS-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'iA Writer Quattro S';
  src: url('./iAWriterQuattroS-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

