@font-face {
  font-family: 'iA Writer Duo S';
  src: url('./iAWriterDuoS-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iA Writer Duo S';
  src: url('./iAWriterDuoS-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'iA Writer Duo S';
  src: url('./iAWriterDuoS-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'iA Writer Duo S';
  src: url('./iAWriterDuoS-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
