@font-face {
  font-family: 'IBM Plex Sans TC';
  src: url('./IBMPlexSansTC-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans TC';
  src: url('./IBMPlexSansTC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}